target/
.env
.idea/
*.iml
.classpath
.project
.settings/
docs/tmp/
docs/java-getting-started/
docs/deploying-spring-boot-apps/
.mvn/wrapper/maven-wrapper.jar

#local config dir
/config


### need to be sorted

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.env
docs/tmp/
docs/java-getting-started/
docs/deploying-spring-boot-apps/

#local config dir
/config